<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PragaNote - {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/materialize/css/materialize.min.css') }}" media="screen,projection" />
        <!-- Bootstrap Styles-->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" />
        <!-- FontAwesome Styles-->
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- Morris Chart Styles-->
        <link href="{{ asset('assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
        <!-- Custom Styles-->
        <link href="{{ asset('assets/css/custom-styles.css') }}" rel="stylesheet" />
        <!-- Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{{ asset('assets/js/Lightweight-Chart/cssCharts.css') }}">

        <!-- include libraries(jQuery, bootstrap) -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">


        <!-- include summernote css/js -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="navbar-brand waves-effect waves-dark" href="{{ path('inicio') }}"><i class="large material-icons">library_books</i> <strong>PRAGA-NOTE</strong></a>
                {% else %}
                <a class="navbar-brand waves-effect waves-dark" href="{{ path('login') }}"><i class="large material-icons">library_books</i> <strong>PRAGA-NOTE</strong></a>
                {% endif %}
            </div>

            <ul class="nav navbar-top-links navbar-right">
                {% block menu %}{% endblock %}
            </ul>
        </nav>

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    {% block titlePage %}{% endblock %}
                </h1>
            </div>
            <div id="page-inner">
                {% block body %}{% endblock %}

                <!-- /. PAGE WRAPPER  -->
            </div>
        </div>
        <!-- /. WRAPPER  -->

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>


            <!-- Bootstrap Js -->
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

            <script src="{{ asset('assets/materialize/js/materialize.min.js') }}"></script>

            <!-- Metis Menu Js -->
            <script src="{{ asset('assets/js/jquery.metisMenu.js') }}"></script>
            <!-- Custom Js -->
            <script src="{{ asset('assets/js/custom-scripts.js') }}"></script>

            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

            <script>
            $(document).ready(function() {
                      $('#nota_contenido').summernote({
                        height: 450,                 // set editor height
                        minHeight: null,             // set minimum height of editor
                        maxHeight: null,             // set maximum height of editor
                        focus: true                  // set focus to editable area after initializing summernote
                      });
              });
            </script>
        {% endblock %}


</body>

</html>
